.parentsSelect {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin:0 auto;
    width: 275px;
    .problemNavigation{
        margin:0 auto;
    }
    
    h1 {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -0.1em;
    }
}