.problemLayout {
    height: 100%;
    width: 375px;
    margin:0 auto;
    
.problemLayoutBody {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 275px;
        gap: 0.5vh;
    }
}

