.homeContainer {
  display: flex;
  flex-direction: column;
  margin: 0 24px;
  height: 100%;

  .homeHeader {
    display: flex;
    flex-direction: column;
    gap:10px;
    .logoConatiner {
      margin-top: 83px;
    }
    .greeting {
      font-family: Pretendard;
      font-size:44px;
      font-weight: 800;
      line-height: 53px;
      letter-spacing: calc(44px * -0.08);
      text-align: left;
      white-space: pre-wrap;
      word-wrap: keep-all;
      margin: 0 2px;
    }
  }

  .angel {
    font-size: 48px;
    flex:1;
    display: flex;
    justify-content: end;
    padding-bottom: 76px;
    padding-right:4px;
    align-items: flex-end;

    &::before {
      content: "#%$#$%@%";
      color: white;

      text-align: center;
      transform: translate(17%,-66%);
      
      background-image: url("/images/speechBubble.svg");
      background-size: contain;
      background-repeat: no-repeat;

      width: 90px;
      height: 38px;
      padding: 10px 20px;

      font-size: 14px;
      font-weight: 800;
      line-height: 17px;
      letter-spacing: (14 * -0.08)px;
    }
  }
}

.fadeout{
  animation: fadeOut 2s ease-in-out 1s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

