.layout {
  width: 244px;
  margin: 20px auto;

  p {
    font-size: 14px !important;
    letter-spacing: -0.1em;
    font-weight: 600;
    line-height: 17px;
  }
}
.user {
  line-height: 14px !important;
}
.kakao {
  margin-top: 10px;
  width: 100% !important;
  p {
    margin: auto;
  }
  img {
    top: 3px !important;
    height: 17px !important;
  }
}
