textarea{
  &:focus {
    outline: none;
  }

  &.default {
    background-color: #F0F0F0;
    border: none;
    border-radius: 10px;
    color: black;
    line-height: 25px;
    font-weight: 700;
  }

  /*
  * sizes
  */

  &.small {
    font-size: medium;
    padding: 8px 16px;
  }

  &.medium {
    font-size: large;
    padding: 14px 20px;
  }

  &.large {
    font-size: x-large;
    padding: 16px 24px;
  }
}