.button {
  border-radius: 24px;
  border: none;
  background-color: white;

  &.small {
    padding: 12px 32px;
  }

  &.medium {
    padding: 14px 54px;
  }

  &.large {
    padding: 20px 76px;
  }
  
  /*
  역할: 카카오 로그인 버튼 
  사용처 
    - answer.tsx
  */
  &.kakao {
    background-color: #FEE500;
    border-radius: 12px;
  }

  /*
  역할: 답변 선택 버튼 
  사용처 
    - answer.tsx
  */
  &.answer {
    border: 1px solid #5a5a5a;
    width: 80vw;
    font-weight: 500;
  }

  /*
  역할: 이전 화면으로 이동 버튼
  사용처 
    - answer.tsx
  */
  &.before {
    border: 1px solid #1d8aef;
  }

  /*
  역할: 다음 화면으로 이동 버튼
  사용처 
    - answer.tsx
  */
  &.next {
    background-color: #1d8aef;
    color: white;
  }

  &.isLoading {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}