.button {
  border-radius: 30px;
  border: none;
  background-color: white;

  &.small {
    padding: 12px 14px;
  }

  &.medium {
    padding: 14px 36px;
  }

  &.large {
    padding: 14px 92px;
  }

  /*
  역할: 카카오 로그인 버튼 
  사용처 
    - answer.tsx
  */
  &.kakao {
    background-color: #fee500;
    width: 95%;
    border-radius: 28.5px;
  }

  /*
  역할: 답변 선택 버튼 
  사용처 
    - answer.tsx
  */
  &.answer {
    border: 1px solid hsl(0, 0%, 75%);
    background-color: #EBEBEB;
    font-size: 16px;
    font-weight: 600;
    &:hover {
      color: white;
      background:  linear-gradient(180deg, #6A5FE8 0%, #000000 316.67%)
    }
  }

  /*
  역할: 이전 화면으로 이동 버튼
  사용처 
    - answer.tsx
  */
  &.before {
    border: 1px solid #1d8aef;
  }

  /*
  역할: 다음 화면으로 이동 버튼
  사용처 
    - answer.tsx
  */
  &.next {
    background-color: #1d8aef;
    color: white;
  }

  &.isLoading {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.music {
    background-color: #ffffff40;
    border-radius: 0;
    width: 28px;
    height: 28px;
    padding: 0;
  }


}
