.dropDown {
    width: 75%;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0 20px;
    margin:0 auto;
    .dropDownBody {
    padding: 14px 0;
    background-color: #F0F0F0;
    border-radius: 10px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-bottom: 4px;
    strong {
        flex-grow: 1;
    }
    img {
        position: absolute;
        text-align: right;
        right:16px;
        top: 16px;
    }
    }
}

.dropDownModalDiv{
    position: absolute;
    width: 85%;
    margin-top: 54px;
    height: 30vh;
    overflow-y: scroll;
    z-index: 999;
    border-radius: 10px;

    &::-webkit-scrollbar{
        background-color: #cdcccc;
        width: 6px;
        height: 6px;
        border-radius: 10px;
       
    } 

    &::-webkit-scrollbar-thumb{
        background-color: #5d49ab;
        border-radius: 10px;
        height:12px;
    }
    
    .dropDownModal {
        padding: 14px 0;
        background-color: #F0F0F0;
        text-align: center;
        align-items: center;
        &:hover{
            background-color: #cdcccc;
        }
    }
}