.loadingContainer {
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;

  .flash {
    animation: flash 1.5s infinite;
  }

  a {
    pointer-events: none;
  }
  a:hover {
    text-decoration: none;
  }
}

@keyframes flash {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.2;
  }
}
