.answerCard{
    padding:0;
    width:275px;
    height: 120px;
    margin: 0 auto;
    margin-top: 12px;
}

.body {
    width: 100%;
    .input {
    padding: 10px !important;
    font-size: 24px I !important;
    display: block;
    width: 75%;
    margin:0 auto !important;
    box-sizing: border-box;
    line-height: 30px !important;
}
}

