.p {
  /*
    역할: 질문 타이포그래피
    사용처
     - answer.tsx 
    */
  &.question {
    font-weight: 800;
  }

  &.small {
    font-size: 16px;
  }

  &.medium {
    font-size: 24px;
  }

  &.large {
    font-size: 50px;
  }

  &.kakao {
    display: inline;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -1px;
    color: #000000;
  }

  &.main {
    background: linear-gradient(#ffffff, #ffffff90);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-align: center;
    letter-spacing: -4px;
    font-weight: 900;
    padding: 4px;
  }

  &.logo {
    color: white;
    font-weight: 700;
    letter-spacing: -1.6px;
    text-align: center;
  }

  &.share {
    margin:0 auto;
    margin-top:-20px;
    color:#A3A3A3;
    font-weight: 700;
    font-size: 14px;
    position: relative;
    right: 10px;
    width:300px;
  }

}
