.p {
  /*
    역할: 질문 타이포그래피
    사용처
     - answer.tsx 
    */
  &.question {
    font-weight: 800;
  }

  &.small {
    font-size: 16px;
  }

  &.medium {
    font-size: 24px;
  }

  &.large {
    font-size: 50px;
  }

  &.kakao {
    display: inline;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: -3px;
    color: #00000085;
  }

  &.main {
    background: linear-gradient(#ffffff, #ffffff90);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-align: center;
    letter-spacing: -4px;
    font-weight: 800;
  }

  &.logo {
    color: white;
    font-weight: 700;
    letter-spacing: -2.5px;
    text-align: center;
  }
}
