.img {
  position: relative;
  top: 3px;
  &.small {
    width: 18px;
    height: 18px;
  }

  &.medium {
    width: 32px;
    height: 32px;
  }

  &.large {
    width: 79px;
    height: 79px;
  }

  &.kakao {
    top: 2px;
    padding-right: 4px;
  }

  &.parents {

  }
}
