.mainLayout {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 80px;
  box-sizing: border-box;
  height: 100vh;
  height: 100svh;
  gap: 6vh;
  align-items: center;
}

.logoutButton {
  font-size: 24px;
  color: white;
  display: flex;
  justify-content: end;
  width: 100%;
  .logout {
    color: black;
  }
}
