.mainLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  gap: 6vh;
  align-items: center;
}

.musicButtonContainer{ 
  display: flex;
  justify-content: end;
  width: 100%;
}
