@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
html {
  font-family: "sf pro display", "sf pro icons", "helvetica neue", helvetica,
    arial, sans-serif;
}
* {
  font-family: "Pretendard";
}
body {
  margin: 0px;
  padding: 0px;
  overflow: auto;
  margin: 0 auto;
}

p,
a {
  margin: 0;
}

#root {
  margin: 0px;
  padding: 0px;
  overflow: auto;
  height: 100vh;
  /* when user can use svh use svh*/
  height: 100svh;
  /* background-size: 200% 200%; */
  /* animation: Gradient 16s ease infinite; */
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
