html{
  font-family: 'sf pro display', 'sf pro icons', 'helvetica neue', helvetica, arial, sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

#root {
  margin: 0px;
  padding: 0px;
  overflow: auto;
  background: linear-gradient(324deg,#5d49ab, 52%, #EA98BE);
  height: 100vh;
  /* background-size: 200% 200%; */
  /* animation: Gradient 16s ease infinite; */
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


h2{
  background: -webkit-linear-gradient(#ffffff 60%, #ffffff10);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

h2 span{
  line-height: 1.2;
}
