.a {
  font-weight: 700;

  &.small {
    font-size: 16px;
    letter-spacing: calc(16px * -0.08);
  }

  &.medium {
    line-height: 24px;
    font-size: 20px;
    letter-spacing: calc(20px * -0.08);
  }

  &.large {
    font-size: 50px;
    letter-spacing: calc(50px * -0.08);
  }

  &.plain {
    color: white;
    text-align: center;
    text-decoration: none;
  }

  &.gradient {
    background: linear-gradient(90deg, #ea98be, #5149ab);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
